form action="/contacts/create" method="POST"
    textarea name="contact_name" placeholder="Contact_name"
    textarea name="contact_number" placeholder="Contact_number"
    input type="submit" value="Create"
