form action="/contacts/#{contact["id"]}/update" method="POST"
    textarea name="contact_name" = contact["contact_name"]
    textarea name="contact_number" = contact["contact_number"]
    input type="submit" value="Update"